@import "variables";

:root {
  --app-height: 100vh;
}

#__nuxt, #__layout, .defaultLayout {
  height: max-content;
  min-height: var(--app-height);
  width: 100%;
}

#nuxt-loading {
  background-color: $darkViolet !important;
}

head {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.secondaryText {
  font-size: 16px;
  color: $gray;
}

.linkText {
  font-size: 16px;
  color: $lightViolet;
  font-weight: 500;
  cursor: pointer;

  &:hover {
  }
}

.desktopOnly {
  @media screen and (max-width: $mobile+1) {
    display: none !important;
  }
}

.mobileOnly {
  @media screen and (min-width: $mobile) {
    display: none !important;
  }
}

body.inkline {
  .button {
    &.-link {
      text-decoration: none !important;
      color: $lightViolet !important;
      border-radius: 4px;
      padding: 7px 12px;
    }
  }

  &.-dark {
    background-color: $darkBlack;

    .projectLogo {
      .logoLetter {
        fill: #f3f4f7;
      }
    }

    .button {
      &.-link {
        &:hover {
          background-color: #ffffff14 !important;
        }
      }
    }

    .linkItem {
      color: $white;
    }
  }

  button.-lg.-circle {
    .inkline-icon {
      line-height: 2;
    }
  }

  ._fancyUnderline {
    color: $white !important;
    transition: color $transition1 !important;
    sup
    {
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: -0.01em;
      text-decoration: none !important;
    }

    &:hover {
      text-decoration: none !important;
      color: darken($white, 20) !important;
    }
  }
}
