//Colors
$white: #fff;
$gray: #9eaebb;
$black: #242424;
$violet: #4e529a;
$green: #1d9b4a;
$darkViolet: #171A49; //MajorDark
$darkBlack: #11142b;
$lightViolet: #8c8dfc;
$red: #F25F5C;
$muted: #565656;
$whiteFaded: rgba(255, 255, 255, .5);


$borderRadius: 8px;
$borderRadiusBig: 16px;


$gradientRegularPieceBefore: radial-gradient(19.49% 58.52% at 50% 0%, rgba(249, 196, 60, 0.3) 0%, rgba(231, 166, 1, 0) 100%), radial-gradient(50% 50% at 100% 100%, #520AEB 10.27%, rgba(159, 115, 255, 0) 100%), radial-gradient(77.86% 77.86% at 100% 0%, #00A7FF 0%, rgba(0, 166, 254, 0.12) 100%), radial-gradient(50% 50% at 0% 0%, #FF8D6C 0%, rgba(255, 92, 0, 0.6) 100%), radial-gradient(70.24% 70.24% at 0% 100%, #E81D72 0%, rgba(255, 0, 0, 0) 100%);

$gradientRegularPieceAfter: radial-gradient(19.49% 58.52% at 50% 0%, rgba(249, 196, 60, 0.3) 0%, rgba(231, 166, 1, 0) 100%), radial-gradient(50% 50% at 100% 100%, #520AEB 10.27%, rgba(159, 115, 255, 0) 100%), radial-gradient(77.86% 77.86% at 100% 0%, #00A7FF 0%, rgba(0, 166, 254, 0.12) 100%), radial-gradient(50% 50% at 0% 0%, #FF8D6C 0%, rgba(255, 92, 0, 0.6) 100%), radial-gradient(70.24% 70.24% at 0% 100%, #E81D72 0%, rgba(255, 0, 0, 0) 100%);

$zBgGradient: radial-gradient(19.49% 58.52% at 50% 0%, rgba(249, 196, 60, 0.3) 0%, rgba(231, 166, 1, 0) 100%), radial-gradient(50% 50% at 100% 100%, #520aeb 10.27%, rgba(159, 115, 255, 0) 100%), radial-gradient(77.86% 77.86% at 100% 0%, #00a7ff 0%, rgba(0, 166, 254, 0.12) 100%), radial-gradient(50% 50% at 0% 0%, #ff8d6c 0%, rgba(255, 92, 0, 0.6) 100%), radial-gradient(70.24% 70.24% at 0% 100%, #e81d72 0%, rgba(255, 0, 0, 0) 100%);


/**
 * Figma styling
 */

/**
 * Colors
 */
$zkColorTxtHeading:#C4C4C4;
$zkColorTxtCommon: $white;
$zkColorTxtFaded: rgba(255, 255, 255, 0.5);
$zkColorTxtFadedLight: rgba(255, 255, 255, 0.3);

$zkColorBg: #11142B;
$zkColorBgFadedDark: rgba(0,0,0,0.3);
$zkColorBgButton: #121429;


$zkColorBorderMedium: rgba(0,0,0,0.3);
$zkColorBorderLight: rgba(255, 255, 255, 0.1);

$zkColorHover: rgba(0, 0, 0, 0.4);
$zkColorLightWhite: rgba(24, 24, 32, 0.01);
$zkColorVioletDark: #4E529A;
$zkColorVioletLight: #8C8DFC;
$zkColorVioletLight: #8C8DFC;
$zkColorVioletGradient: linear-gradient(315.52deg, #4E529A 0%, #7678FD 98.14%);
$zkColorVioletGradientAngular: conic-gradient(from 180deg at 50% 50%, rgba(0, 47, 168, 0) 0deg, #7879FF 360deg);

$gradientRegularPieceBefore: radial-gradient(19.49% 58.52% at 50% 0%, rgba(249, 196, 60, 0.3) 0%, rgba(231, 166, 1, 0) 100%), radial-gradient(50% 50% at 100% 100%, #520AEB 10.27%, rgba(159, 115, 255, 0) 100%), radial-gradient(77.86% 77.86% at 100% 0%, #00A7FF 0%, rgba(0, 166, 254, 0.12) 100%), radial-gradient(50% 50% at 0% 0%, #FF8D6C 0%, rgba(255, 92, 0, 0.6) 100%), radial-gradient(70.24% 70.24% at 0% 100%, #E81D72 0%, rgba(255, 0, 0, 0) 100%);

$gradientRegularPieceAfter: radial-gradient(19.49% 58.52% at 50% 0%, rgba(249, 196, 60, 0.3) 0%, rgba(231, 166, 1, 0) 100%), radial-gradient(50% 50% at 100% 100%, #520AEB 10.27%, rgba(159, 115, 255, 0) 100%), radial-gradient(77.86% 77.86% at 100% 0%, #00A7FF 0%, rgba(0, 166, 254, 0.12) 100%), radial-gradient(50% 50% at 0% 0%, #FF8D6C 0%, rgba(255, 92, 0, 0.6) 100%), radial-gradient(70.24% 70.24% at 0% 100%, #E81D72 0%, rgba(255, 0, 0, 0) 100%);


$link-color: $lightViolet;
$color-secondary: $violet;
/* Input */
$input-prefix-border-width: 0;
$input-border-width: 1px;
$input-border-color-dark: #ffffff14;
$input-border-color-focus-dark: #ffffff33;
$input-background-dark: #ffffff05;
$input-background-light: #00000005;
$input-border-color-light: #0000000a;
$input-border-color-focus-light: #00000033;
/* Modal */
$modal-border-radius: (md: 8px);
$modal-border-color-dark: #ffffff14;
$modal-background-dark: $darkViolet;
$modal-border-color-light: #180d0d14;
$modal-background-light: $white;


//Fonts
$openSans: 'Open Sans', 'sans-serif';
$grotesk: 'FK Grotesk', 'sans-serif';

$font-family-primary-base: $openSans;
$font-family-headers: $grotesk;

/* Transitions */
$transition1: ease .2s;
$transition2: ease .3s ;
$transition3: ease .8s;

/* Responsive */
$mobile: 768px;
$maxWidth: 1370px;

/* Shadows */
$shadowTop: 0 -3px 10px rgba(0, 0, 0, 0.1);

/* Borders */
$borderInsetRadius: 8px;
