@import "../variables";

.indexLayout {
  .container {
    width: 90%;
    padding-left: 0;
    padding-right: 0;
    @media screen and (min-width: 992px) {
      max-width: 900px;
    }
  }

  .routerContainer {
    overflow: hidden;
    padding-top: 84px;
  }
}

.inkline.-dark {
  footer > .container .badge {
    background: #e9ecef;
    color: #2f3264;
  }
}

body.inkline {
  h1, .h1, .h2, .h3, .h4 {
    font-family: $grotesk !important;
    font-weight: bold;
    letter-spacing: -2%;
    text-align: center;

  }

  .h1, h1 {
    font-size: 80px;
    line-height: 100%;
    margin-bottom: 25px;
    @media (max-width: $mobile) {
      font-size: 40px !important;
      line-height: 120% !important;
      margin-bottom: 10px !important;
    }
  }

  .h2 {
    font-size: 40px;
    @media screen and (max-width: $mobile) {
      font-size: 30px;
    }
  }

  .h3 {
    font-size: 30px;
    text-align: left;
    @media screen and (max-width: $mobile) {
      font-size: 24px;
    }
  }
}
