.dropdownContainer {
    width: 100%;
    height: 109px;
    background-color: transparentize($color: $darkViolet, $amount: 0.5);
    border-radius: 16px;
    transition: height $transition1;
    will-change: height;
    overflow: hidden;
    &.toogled {
        .dropdownHeader {
            .plusIconContainer .plusIcon .line.vertical {
                transform: translateX(10px) rotate(-90deg);
            }
        }
    }

    .dropdownHeader {
        width: 100%;
        height: 109px;
        background-color: #0a0c1a;
        border-radius: 16px;
        padding: 30px 40px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &:hover {
            .plusIconContainer {
                background-color: transparentize($color: $lightViolet, $amount: 0.95);
            }
        }

        .textContainer {
            font-size: 30px;
            color: $white;
            font-weight: 700;
            user-select: none;

            .gray {
                color: #999999;
            }
            .darkGray {
                color: #525259;
            }
        }
        .plusIconContainer {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: transparent;
            transition: background-color $transition1;
            will-change: background-color;
            display: flex;
            align-items: center;
            justify-content: center;
            
            .plusIcon {
                position: relative;
                width: 24px;
                height: 24px;
        
                .line {
                    position: absolute;
                    height: 100%;
                    width: 4px;
                    left: 0;
                    top: 0;
                    border-radius: 4px;
                    background-color: $white;
                    &.horizontal {
                        transform: translateX(10px) rotate(90deg);
                    }
                    &.vertical {
                        transform: translateX(10px);
                        transition: transform $transition1;
                        will-change: transform;
                    }
                }
            }
        }
    }
    .dropdownBody {
        width: 100%;
        height: max-content;
        border-radius: 0 0 16px 16px;
        padding: 10px 40px;
    }

    @media screen and (max-width: $mobile) {
        height: 76px;

        &.toogled {
            .dropdownHeader {
                .plusIconContainer .plusIcon .line.vertical {
                    transform: translateX(8px) rotate(-90deg);
                }
            }
        }
        .dropdownHeader {
            height: 76px;
            padding: 27px 30px;

            .textContainer {
                font-size: 15px;
            }
            .plusIconContainer {
                width: 40px;
                height: 40px;

                .plusIcon {
                    width: 20px;
                    height: 20px;

                    .line {
                        width: 3px;
                        &.horizontal {
                            transform: translateX(8px) rotate(90deg);
                        }
                        &.vertical {
                            transform: translateX(8px);
                        }
                    }
                }
            }
        }
        .dropdownBody {
            padding: 10px 30px;
            font-size: 14px;
        }
    }
}