@import "../variables";

.emphasis {
  color: $whiteFaded;
  font: bold 18px/140% $grotesk;
  letter-spacing: 0.01em;
  background-color: transparent !important;
  padding: 0 !important;
  text-transform: none;
}

.indexPage
{
  .emphasis
  {
    color: rgba(255, 255, 255, 0.5) !important;
    font-size: inherit !important;
  }
}
