.loaderSpinner {
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border: .5rem solid #F5F5F5;
    border-left-color: #8c8dfc;
    transform: translateZ(0);
    animation: nuxtLoadingCustom 1.1s infinite linear;
    will-change: transform;
    &.size {
        &-lg {
            &, &::after {
                width: 5rem;
                height: 5rem;
            }
        }
        &-md {
            &, &::after {
                width: 4rem;
                height: 4rem;
            }
        }
        &-sm {
            &, &::after {
                width: 3rem;
                height: 3rem;
            }
        }
        &-xs {
            &, &::after {
                width: 1.2rem;
                height: 1.2rem;
            }
            & {
                border-width: .2rem;
            }
        }
    }

    &, &::after {
      border-radius: 50%;
    }

    @keyframes nuxtLoadingCustom {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}
