@import "../variables";

#partners {
  .h2 {
    span {
      color: $white;
      display: inline-flex;
      position: relative;
      background: $gradientRegularPieceBefore;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .badge img {
      min-height: 35px;
    }
  }

  .sponsorsContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;


    a {
      width: 20%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 2%;
      height: 120px;

      img {
        display: inline-flex;
        user-select: none;
        transition: all $transitionMedium;
        width: 100%;
        height: auto;
        object-fit: contain;
      }

      &::before,
      &::after {
        opacity: 0;
        transition: opacity $transitionMedium;
        display: inline-block;
        content: "";
        position: absolute;
        filter: blur(20px);
        z-index: -1;
        width: 150px;
        border-radius: 50%;
        height: 50px;
        left: calc((100% - 150px) / 2);
        background-blend-mode: overlay, normal, normal, color-dodge, normal;
        mix-blend-mode: normal;
        will-change: opacity;
      }

      &::before {
        top: calc((100% - 50px) / 2);
        background: $gradientRegularPieceBefore;
      }

      &::after {
        top: calc((100% - 30px) / 2);
        background: $gradientRegularPieceAfter;
      }

      &:hover, &:focus {
        @media (min-width: $mobile) {
          color: $muted;
          img {
            transform: scale(1.35);
          }
          &::after,
          &::before {
            opacity: 0.75;
          }
        }
      }

      @media screen and (max-width: 1000px) {
        width: 30%;
      }
      @media screen and (max-width: $mobile) {
        width: 50%;
        height: 100px;

        img:hover {
          will-change: none;
          transform: none !important;
        }
      }
      @media screen and (max-width: 345px) {
        width: 100%;
        height: 90px;
      }

    }

    a#loopring > img {
      max-width: 80%;
      padding-bottom: 10px;
    }

    a#mykey > img {
      max-width: 75%;
    }

    a#Gitcoin > img {
      max-width: 75%;
    }

    a#Storj > img {
      max-width: 70%;
    }

    a#stablepay > img {
      max-width: 70%;
    }

    a#Golem > img {
      max-width: 70%;
      padding: 20px 0 0;
    }

    a#huobi > img {
      max-width: 75%;
    }

    a#coinbase > img {
      max-width: 90%;
    }

    a#binance > img {
      padding-top: 7px;
      max-width: 90%;
    }

    a#argent > img {
      max-width: 80%;
    }

    a#zkv > img {
      max-width: 80%;
    }
  }
}
