@import "../variables";

.glow-button {
  margin: auto;
  position: relative;
  display: flex;
  font-weight: 400;
  box-shadow: none;
  border-radius: $borderRadius;
  width: 246px;
  height: 60px;
  font: 20px $openSans;
  line-height: 27px;
  text-align: center;
  color: $white !important;

  transition: color $transition2 !important;
  background: #121429 !important;


  &::before,
  &::after {
    transition: all $transition3;
    display: inline-block;
    width: calc(100%);
    height: calc(50%);
    content: "";
    position: absolute;
    filter: blur(20px);
    z-index: -1;
  }

  &::before {
    left: -2px;
    top: -2px;
    position: absolute;
    background: $gradientRegularPieceBefore;
    background-blend-mode: overlay, normal, normal, color-dodge, normal;
    mix-blend-mode: normal;
    filter: blur(5px);
    border-radius: 5px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
  }

  &::after {
    right: -6px;
    width: calc(100% + 12px);
    height: calc(100% + 4px);
    position: absolute;
    bottom: -1px;

    background: $gradientRegularPieceAfter;
    background-blend-mode: overlay, normal, normal, color-dodge, normal;
    mix-blend-mode: normal;
    filter: blur(48px);
  }


  &.-lg.antilink:hover, &:focus {
    box-shadow: none !important;
    border: none !important;
    @media (min-width: $mobile) {
      //border-color: #0a0c1a !important;
      color: $white !important;
      background: lighten(#121429, 10) !important;
      &::after,
      &::before {
        filter: blur(60px);
      }
    }
  }
}
