.CtaButton {
  border-radius: 16.5px;
  font: var(--ctaFont);
  color: var(--buttonColor);
  transition: var(--hoverTransition);
  outline: none;
  display: inline-flex;
  align-items: center;
}

.keyboard-navigation .CtaButton:focus {
  box-shadow: var(--focusBoxShadow)
}

.CtaButton.variant--Link {
  font-weight: var(--linkWeight, var(--fontWeightSemibold));
  transition-property: color, opacity
}

@media (pointer: fine) {
  .CtaButton.variant--Link:hover {
    color: var(--linkHoverColor, var(--linkColor));
    opacity: var(--linkHoverOpacity, 1)
  }
}

@media (pointer: coarse) {
  .CtaButton.variant--Link:active {
    color: var(--linkHoverColor, var(--linkColor));
    opacity: var(--linkHoverOpacity, 1)
  }
}

.CtaButton.variant--Button {
  padding-left: 16px;
  padding-right: 16px;
  background-color: var(--buttonColor);
  color: var(--knockoutColor);
  white-space: nowrap;
  transition-property: background-color, opacity
}

.CtaButton.variant--Button.CtaButton--arrow {
  padding-right: 12px
}

@media (pointer: fine) {
  .CtaButton.variant--Button:hover {
    background-color: var(--buttonHoverColor, var(--buttonColor));
    opacity: var(--buttonHoverOpacity, 1)
  }
}

@media (pointer: coarse) {
  .CtaButton.variant--Button:active {
    background-color: var(--buttonHoverColor, var(--buttonColor));
    opacity: var(--buttonHoverOpacity, 1)
  }
}

.HoverArrow {
  --arrowSpacing: 8px;
  --arrowHoverTransition: 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
  --arrowHoverOffset: translateX(3px);
  position: relative;
  top: 1px;
  margin-left: var(--arrowSpacing);
  stroke-width: 2px;
  fill: none;
  stroke: currentColor
}

.HoverArrow--sizeSmall {
  --arrowSpacing: 4px;
  stroke-width: 1.5px
}

.HoverArrow__linePath {
  opacity: 0;
  transition: opacity var(--hoverTransition, var(--arrowHoverTransition))
}

.HoverArrow__tipPath {
  transition: transform var(--hoverTransition, var(--arrowHoverTransition))
}

@media (pointer: fine) {
  a:hover .HoverArrow__linePath, button:hover .HoverArrow__linePath {
    opacity: 1
  }
  a:hover .HoverArrow__tipPath, button:hover .HoverArrow__tipPath {
    transform: var(--arrowHoverOffset)
  }
}

@media (pointer: coarse) {
  a:active .HoverArrow__linePath, button:active .HoverArrow__linePath {
    opacity: 1
  }
  a:active .HoverArrow__tipPath, button:active .HoverArrow__tipPath {
    transform: var(--arrowHoverOffset)
  }
}
