@import "../variables";

.table-wrapper.tg {
  overflow: initial !important;

  table.table.-dark {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin-bottom: 0;

    tr {
      & > td, th {
        vertical-align: middle;
        border: 1px solid $gray;
        font-size: 18px;
        padding: 0.6rem 1.2rem;
        word-break: normal;
        overflow: initial;
        background-color: transparent !important;
        font-weight: normal;
        font-style: normal;
        color: $whiteFadedLight;

        span {
          font-weight: normal;
          font-style: normal;
          color: $whiteFaded;
        }

        &._bg-red._bg-react, &._bg-green._bg-react {
          position: relative;
          sup {
            a {
              z-index: 10;
              display: inline-block;
              position: relative;
              transition: color $transition1;
            }
          }
        }

        &._bg-red {
          text-align: center;
          background: #990000 !important;
        }

        &._bg-green {
          text-align: center;
          background: #274E12 !important;
        }
      }

      th {
        border-width: 0;
        border-bottom-width: 1px;
        white-space: nowrap;
        font-size: 18px;
      }

      & > td {
        word-break: normal;

        &:first-child,
        &:last-child {
          border-width: 0;
          border-bottom-width: 1px;
        }
      }

      &:last-child > td {
        border-width: 0;
        border-right-width: 1px;

        &:last-child {
          border-right-width: 0;
        }
      }
    }
  }

  @media (max-width: $mobile) {
    tr {
      & > th, & > td {
        padding: 0.3rem !important;
        font-size: 15px !important;
        white-space: normal !important;
        word-break: normal !important;
      }
    }

    tr > td:first-child
    {
      width: 25%;
    }

  }
}
