@import "../variables";

.cookieContainer {
  z-index: 10;
  position: fixed;
  width: 100%;
  height: auto;
  bottom: 0;
  left: 0;
  padding: 20px;
  font-size: 16px;
  text-align: center;
  transition: background-color $transition1;
  box-shadow: $shadowTop;

  .cookieMain {
    display: grid;
    height: max-content;
    grid-template-columns: 1fr 150px;
    grid-template-rows: 100%;
    grid-gap: 10px;

    .text {
      text-align: left;
      max-width: 700px;
    }
  }

  @media (max-width: $mobile) {
    .cookieMain {
      grid-template-columns: 100%;
      grid-template-rows: max-content 50px;

      .text {
        text-align: center;
      }
    }
  }
}

body.inkline.-dark {
  .cookieContainer {
    background-color: $darkViolet;
  }
}
