.mainFooter {
  height: 90px;
  font-weight: normal;
  background-color: transparentize($color: #000000, $amount: 0.7);

  & > .container {
    max-width: 870px;

    .row {
      padding: 2rem 0;
      @media screen and (max-width: $mobile)
      {
        padding: 1rem 0;
      }
    }
  }

  .headerWrapper {
    justify-content: initial !important;

    .projectLogo {
      width: 100%;
      max-width: 150px;
    }
  }
  .linkItem {
    display: block;
  }
  .firstRow {
    border-bottom: 1px solid transparentize($color: $white, $amount: 0.9);
  }
  .rightSideLinks {
    display: flex;
    justify-content: flex-end;

    a {
      padding: 0 10px;
      color: $gray;
      font-size: 15px;
    }
  }

  @media screen and (min-width: $mobile) {
    ._padding-top-md-0 {
      padding-top: 0 !important;
    }

  }
  @media screen and (max-width: $mobile) {
    .firstRow
    {
      display: none;
    }
    .linkItem {
      font-size: 16px;

      &:not(:first-child) {
        padding-top: 15px;
      }
    }
    .row:last-child {
      .column {
        padding: 0 !important;

        .secondaryText {
          text-align: center;
        }
        .rightSideLinks {
          padding-top: 5px;
          justify-content: center;
        }
      }
    }
  }
}
