.investorsContainer {
    position: relative;
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    padding: 15px 0;
    box-sizing: content-box;
    &:hover {

    }

    .imgItem {
        position: absolute;
        left: -127px;
        top: 50%;
        width: 127px;
        animation: translate 30s infinite linear;
        &:nth-child(odd) {
            top: 20%;
        }
        &:nth-child(even) {
            top: 60%;
        }
        &.vertical {
            img {
                width: 50%;
            }
        }

        img {
            position: absolute;
            animation: upDown 1.5s alternate infinite ease-in-out;
            width: 100%;
            transition: $transition1;
        }
    }

    @for $i from 1 through 40 {
        .imgItem:nth-child(#{$i}) {
            animation-delay: 1.22s * $i;

            img {
                animation-delay: .35s * $i;
            }
        }
    }
}

@keyframes upDown {
    to { transform: translateY(20px);}
}
@keyframes translate {
    to { transform: translateX(calc(2000% + 127px)) translateY(-50%);}
}
@media screen and (min-width: 1400px) {
    @keyframes translate {
        to { transform: translateX(calc(130vw + 127px)) translateY(-50%);}
    }
}

body.inkline {
    /* &.-light .investorsContainer {
        .overlay {
            background: linear-gradient(90deg, $white 0%, transparent 15%, transparent 85%, $white 100%);
        }
    }
    &.-dark .investorsContainer {
        .overlay {
            background: linear-gradient(90deg, $darkBlack 0%, transparent 15%, transparent 85%, $darkBlack);
        }
    } */
}
